.page-not-found-container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    
}
.page-not-found-container h1 {
    font-weight: bold;
}
.page-not-found-container span {
    font-weight: bold;
    font-size: xxx-large;
    color: rgb(190, 48, 23);
}