.tattoo-crud-form-card {
  padding: 20px;
  border: solid 1px gray;
  border-radius: 10px;
}

.tattoo-crud-form-title {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -0.015px;
  margin-bottom: 30px;
}

.tattoo-crud-inputs-container{
    margin-bottom: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.tattoo-crud-inputs-left {
  margin-bottom: 30px;
}

.tattoo-crud-buttons-container{
    display: flex;
    justify-content: space-between;
}

.tattoo-crud-button{
    height: 50px;
    border-radius: 10px;
    width: 110px;
    font-weight: bold;
}

@media(min-width: 576px){
    .tattoo-crud-buttons-container{
        justify-content: flex-end;
    }

    .tattoo-crud-button{
       margin-left: 30px;
       width: 270px;
    }
}
@media(min-width: 992px){
    .tattoo-crud-inputs-container{
        margin-bottom: 0;
    }
}
