.card-crud-container{
    height: 450px;
    width: 95%;
    padding: 20px;
    background-color: rgb(37, 35, 35);
    margin-bottom: 30px;
    /* box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue; */
    font-family: "Space Mono", monospace;
    border-radius: 10px;
}

.card-crud-container img{
    width: 100%;
    height: 70%;
}

.bottom-card-crud{
    padding: 5px;
}

.btn-tattoo-card-container{
    display: flex;
    justify-content: space-around;
}

.btn-tattoo-card-container button{
    width: 120px;
    height: 35px;
    background-color: transparent;
}

.btn-update-tattoo-card{
    color: rgb(184, 20, 20);
    border: solid 2px rgb(184, 20, 20);
}

.btn-delete-tattoo-card{
    color: rgb(88, 85, 85);
    border: solid 2px rgb(88, 85, 85);
}

@media(min-width: 576px){
    .btn-tattoo-card-container button{
        width: 100px;
        height: 30px;
        margin-left: 5px;
    }
    
}

@media(min-width: 768px){

    .img-tattoo-card{
        display: flex;
    }
    
    .card-crud-container{
        height: 200px;
        display: flex;
        justify-content: space-between;
    }

    .card-crud-container img{
        width: 150px;
        height: 150px;
    }

    .btn-tattoo-card-container{
        display: flex;
        justify-content: unset;
        flex-direction: column;
        justify-content: center;
    }

    .btn-tattoo-card-container button{
        width: 180px;
        height: 40px;
        background-color: transparent;
        margin-top: 20px;
    }
    
}