.price-tattoo-card-listing {
  border: solid green 2px;
  width: 90px;
  min-width: 90px;
  background-color: transparent;
  text-align: center;
  padding: 5px;
}

.price-tattoo-card-listing {
  position: absolute;
  top: 75%;
  left: 70%;
  right: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: transparent;
  padding: 5px;
  border: solid gold 2px;
  width: 140px;
  text-align: center;
  color: gold;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2); /* Transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
}


@media (width <= 1355px){
  .price-tattoo-card-listing {
    top: 75%;
    left: 60%;
    right: 0%;
  }
} 



@media (width < 755px) {
  .price-tattoo-card-listing {
    top: 75%;
    left: 60%;
    right: 0%;
  }

  .teste {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
  }

  .ji {
    text-align: center;
  }

  .name-tatto-listing-page {
    text-align: center;
  }
}

@media (width < 353px) {
  .price-tattoo-card-listing {
    display: unset;
  }
}
