/*.nav-bar-container{
    background-color: black;
    padding: 20px  80px;
    font-weight: bold;
    font-size: 36px;
    max-height: 80px;
}

.navbar-toggler{
    color: blue;
    background-color: aquamarine;
}

.nav-bar-container header{
    display: flex; 
    
    justify-content: space-between;

}

.title-logo-home {
    font-size: 0.9em;
}

.title-logo-home span{
    color: rgb(180, 44, 44);
}

.nav-bar-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin-left: 180px;
 
}

.nav-bar-container ul li{
    margin-right: 30px;
    font-size: 0.8em;
    color: white;
    font-family: "Space Mono", monospace;
    cursor: pointer;
    margin-right: 120px;
}

.title-logo-home {
    color: aliceblue;
}*/


.main-nav {
    padding-left: 40px;
    min-height: 80px;
    font-family: "Space Mono", monospace;
    background-color: black;
  }
  
  .nav-logo-text,
  .nav-logo-text:hover {
    color: #fff;
  }

  .nav-logo-text span{
    color: rgb(180, 44, 44);
  }
  
  .main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;
  }
  
  .main-menu a {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .main-menu a:hover {
    color: #fff;
  }
  
  .main-menu a.active {
    color: #fff;
    font-weight: bold;
  }
  
  .nav-login-logout {
    display: none;
  }
  
  .nav-username {
    display: none;
    margin-right: 20px;
  }
  
  @media (min-width: 758px) {
    .nav-login-logout {
      display: unset;
      color: white;
      margin-right: 15px;
    }
  }
  
  @media (min-width: 992px) {
    .nav-login-logout {
      margin-right: 40px;
    }
    .nav-username {
      display: unset;
    }
  }
  