.nav-bar-container{
    background-color: black;
    padding: 20px  80px;
    font-weight: bold;
    font-size: 36px;
    max-height: 80px;
}

.navbar-toggler{
    color: blue;
    background-color: aquamarine;
}

.nav-bar-container header{
    display: flex; 
    /* background-color: aqua; */
    justify-content: space-between;
    /* justify-content: space-around; */

}

.title-logo-home {
    font-size: 0.9em;
}

.title-logo-home span{
    color: rgb(180, 44, 44);
}

.nav-bar-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin-left: 180px;
 
}

.nav-bar-container ul li{
    margin-right: 30px;
    font-size: 0.8em;
    color: white;
    font-family: "Space Mono", monospace;
    cursor: pointer;
    margin-right: 120px;
}

.title-logo-home {
    color: aliceblue;
}